Repository rapidsai/nx-cugraph, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/nx-cugraph-doc-codeowners, @rapidsai/nx-cugraph-python-codeowners, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

.github/CODEOWNERS:

# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# Order matters - match of highest importance goes last (last match wins)

#doc code owners
datasets/          @rapidsai/nx-cugraph-doc-codeowners
docs/              @rapidsai/nx-cugraph-doc-codeowners
**/*.txt           @rapidsai/nx-cugraph-doc-codeowners
notebooks/         @rapidsai/nx-cugraph-doc-codeowners
**/*.md            @rapidsai/nx-cugraph-doc-codeowners
**/*.rst           @rapidsai/nx-cugraph-doc-codeowners
**/*.ipynb         @rapidsai/nx-cugraph-doc-codeowners
**/*.pdf           @rapidsai/nx-cugraph-doc-codeowners
**/*.png           @rapidsai/nx-cugraph-doc-codeowners

#python code owners
python/            @rapidsai/nx-cugraph-python-codeowners

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners

Change branch name for shared workflow
  .github/workflows/pr.yaml
Owners: @rapidsai/ci-codeowners

Add pre-commit changes
  .pre-commit-config.yaml
Owners: @rapidsai/ci-codeowners

Add flake8 exceptions for benchmarking script used to generate HTML reports
  .flake8
Owners: none

Add pre-commit suggestions
  .pre-commit-config.yaml
  benchmarks/nx-cugraph/pytest-based/create_results_summary_page.py
  benchmarks/nx-cugraph/pytest-based/get_graph_bench_dataset.py
  docs/nx-cugraph/source/conf.py
Owners: @rapidsai/ci-codeowners, @rapidsai/nx-cugraph-doc-codeowners

Remove unused import
  benchmarks/nx-cugraph/pytest-based/bench_algos.py
Owners: none

Make pre-commit suggestions
  .pre-commit-config.yaml
  docs/nx-cugraph/source/sphinxext/github_link.py
Owners: @rapidsai/ci-codeowners, @rapidsai/nx-cugraph-doc-codeowners

Delete unused docs
  docs/nx-cugraph/source/basics/cugraph_cascading.md
  docs/nx-cugraph/source/basics/cugraph_intro.md
  docs/nx-cugraph/source/basics/index.rst
  docs/nx-cugraph/source/basics/nx_transition.rst
  docs/nx-cugraph/source/graph_support/DGL_support.md
  docs/nx-cugraph/source/graph_support/PyG_support.md
  docs/nx-cugraph/source/graph_support/algorithms.md
  docs/nx-cugraph/source/graph_support/algorithms/Centrality.md
  docs/nx-cugraph/source/graph_support/algorithms/Similarity.md
  docs/nx-cugraph/source/graph_support/algorithms/betweenness_centrality.md
  docs/nx-cugraph/source/graph_support/algorithms/cpp_algorithms/centrality_cpp.md
  docs/nx-cugraph/source/graph_support/algorithms/cpp_algorithms/linear_cpp.md
  docs/nx-cugraph/source/graph_support/algorithms/cpp_algorithms/traversal_cpp.md
  docs/nx-cugraph/source/graph_support/algorithms/degree_centrality.md
  docs/nx-cugraph/source/graph_support/algorithms/eigenvector_centrality.md
  docs/nx-cugraph/source/graph_support/algorithms/jaccard_similarity.md
  docs/nx-cugraph/source/graph_support/algorithms/katz_centrality.md
  docs/nx-cugraph/source/graph_support/algorithms/overlap_similarity.md
  docs/nx-cugraph/source/graph_support/algorithms/sorensen_coefficient.md
  docs/nx-cugraph/source/graph_support/compatibility.rst
  docs/nx-cugraph/source/graph_support/cugraph_service.rst
  docs/nx-cugraph/source/graph_support/cugraphops_support.rst
  docs/nx-cugraph/source/graph_support/datastores.rst
  docs/nx-cugraph/source/graph_support/feature_stores.md
  docs/nx-cugraph/source/graph_support/gnn_support.rst
  docs/nx-cugraph/source/graph_support/graph_algorithms.rst
  docs/nx-cugraph/source/graph_support/index.rst
  docs/nx-cugraph/source/graph_support/knowledge_stores.md
  docs/nx-cugraph/source/graph_support/pg_example.png
  docs/nx-cugraph/source/graph_support/property_graph.md
  docs/nx-cugraph/source/graph_support/wholegraph_support.md
  docs/nx-cugraph/source/installation/getting_cugraph.md
  docs/nx-cugraph/source/installation/index.rst
  docs/nx-cugraph/source/installation/source_build.md
  docs/nx-cugraph/source/references/cugraph_ref.md
  docs/nx-cugraph/source/references/datasets.md
  docs/nx-cugraph/source/references/index.rst
Owners: @rapidsai/nx-cugraph-doc-codeowners

Delete unused docs
  docs/nx-cugraph/source/tutorials/basic_cugraph.md
  docs/nx-cugraph/source/tutorials/community_resources.md
  docs/nx-cugraph/source/tutorials/cugraph_blogs.rst
  docs/nx-cugraph/source/tutorials/cugraph_notebooks.md
  docs/nx-cugraph/source/tutorials/how_to_guides.md
  docs/nx-cugraph/source/tutorials/index.rst
Owners: @rapidsai/nx-cugraph-doc-codeowners

Fix typo
  nx_cugraph/algorithms/centrality/katz.py
Owners: none

Add pre-commit suggestions
  .pre-commit-config.yaml
  dependencies.yaml
  pyproject.toml
Owners: @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

Update dependencies.yaml
  dependencies.yaml
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

Rename `cugraph-nx` to `nx-cugraph` (#3840)
  conda/recipes/nx-cugraph/build.sh
  conda/recipes/nx-cugraph/meta.yaml
Owners: @rapidsai/packaging-codeowners

Setup Consistent Nightly Versions for Pip and Conda (#3933)
  conda/recipes/nx-cugraph/meta.yaml
Owners: @rapidsai/packaging-codeowners

Use rapids-build-backend (#4393)
  conda/recipes/nx-cugraph/meta.yaml
Owners: @rapidsai/packaging-codeowners

add setuptools to host requirements for conda packages that need it (#4582)
  conda/recipes/nx-cugraph/meta.yaml
Owners: @rapidsai/packaging-codeowners

Fix build strings in nx-cugraph (#4639)
  conda/recipes/nx-cugraph/meta.yaml
Owners: @rapidsai/packaging-codeowners

Verify if builds work
  ci/build_python.sh
Owners: @rapidsai/ci-codeowners

Style
  VERSION
  conda/recipes/nx-cugraph/build.sh
Owners: @rapidsai/packaging-codeowners

Remove lint.yaml and its references
  Makefile
  lint.yaml
Owners: none

Remove unused segments
  .pre-commit-config.yaml
Owners: @rapidsai/ci-codeowners

Update copyright string
  docs/nx-cugraph/source/conf.py
Owners: @rapidsai/nx-cugraph-doc-codeowners

Preserve line and skip formatting
  .flake8
  docs/nx-cugraph/source/conf.py
Owners: @rapidsai/nx-cugraph-doc-codeowners

Update things to use nx-cugraph instead of cugraph
  docs/nx-cugraph/source/conf.py
Owners: @rapidsai/nx-cugraph-doc-codeowners

Add pre-commit check as CI
  .github/workflows/pr.yaml
  ci/check_pre-commit.sh
Owners: @rapidsai/ci-codeowners

Update pre-commit field
  .github/workflows/pr.yaml
Owners: @rapidsai/ci-codeowners

Add changes to pr.yaml
  .github/workflows/pr.yaml
Owners: @rapidsai/ci-codeowners

update permissions
  ci/check_pre-commit.sh
  ci/check_style.sh
Owners: @rapidsai/ci-codeowners

Add install line
  ci/check_pre-commit.sh
Owners: @rapidsai/ci-codeowners

remove --yes
  ci/check_pre-commit.sh
Owners: @rapidsai/ci-codeowners

Updates to build and test `nx-cugraph` wheel as part of CI and nightly workflows (#3852)
  ci/build_wheel_nx-cugraph.sh
Owners: @rapidsai/ci-codeowners

Add wheel build
  .github/workflows/pr.yaml
Owners: @rapidsai/ci-codeowners

run pre-commit on every PR
  .github/workflows/pr.yaml
  ci/check_pre-commit.sh
Owners: @rapidsai/ci-codeowners

Style
  .pre-commit-config.yaml
  ci/build_wheel_nx-cugraph.sh
  conda/recipes/nx-cugraph/meta.yaml
Owners: @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

Switch to new wheel building pipeline (#3731)
  ci/build_wheel.sh
Owners: @rapidsai/ci-codeowners

Simplify wheel build scripts and allow alphas of RAPIDS dependencies (#3809)
  ci/build_wheel.sh
Owners: @rapidsai/ci-codeowners

Setup Consistent Nightly Versions for Pip and Conda (#3933)
  ci/build_wheel.sh
Owners: @rapidsai/ci-codeowners

Updates to build and test `nx-cugraph` wheel as part of CI and nightly workflows (#3852)
  ci/build_wheel.sh
Owners: @rapidsai/ci-codeowners

Use new `rapids-dask-dependency` metapackage for managing `dask` versions (#3991)
  ci/build_wheel.sh
Owners: @rapidsai/ci-codeowners

build wheels for `cugraph-dgl` and `cugraph-pyg` (#4075)
  ci/build_wheel.sh
Owners: @rapidsai/ci-codeowners

Treat nx-cugraph, cugraph-pyg, cugraph-dgl, and cugraph-equivariant CI artifacts as pure wheels (#4216)
  ci/build_wheel.sh
Owners: @rapidsai/ci-codeowners
