Repository rapidsai/nx-cugraph, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/nx-cugraph-doc-codeowners, @rapidsai/nx-cugraph-python-codeowners, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

.github/CODEOWNERS:

# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# Order matters - match of highest importance goes last (last match wins)

#doc code owners
datasets/          @rapidsai/nx-cugraph-doc-codeowners
docs/              @rapidsai/nx-cugraph-doc-codeowners
**/*.txt           @rapidsai/nx-cugraph-doc-codeowners
notebooks/         @rapidsai/nx-cugraph-doc-codeowners
**/*.md            @rapidsai/nx-cugraph-doc-codeowners
**/*.rst           @rapidsai/nx-cugraph-doc-codeowners
**/*.ipynb         @rapidsai/nx-cugraph-doc-codeowners
**/*.pdf           @rapidsai/nx-cugraph-doc-codeowners
**/*.png           @rapidsai/nx-cugraph-doc-codeowners

#python code owners
python/            @rapidsai/nx-cugraph-python-codeowners

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners

Create `cugraph-equivariant` package (#4036)
  ci/build_wheel.sh
Owners: @rapidsai/ci-codeowners

Remove hard-coding of RAPIDS version where possible (#4217)
  ci/build_wheel.sh
Owners: @rapidsai/ci-codeowners

Forward merge branch-24.06 into branch-24.08 (#4489)
  ci/build_wheel.sh
Owners: @rapidsai/ci-codeowners

New WholeGraph Feature Store for PyG (#4432)
  ci/build_wheel.sh
Owners: @rapidsai/ci-codeowners

reduce pip verbosity in wheel builds (#4651)
  ci/build_wheel.sh
Owners: @rapidsai/ci-codeowners

Use CUDA math wheels (#4621)
  ci/build_wheel.sh
Owners: @rapidsai/ci-codeowners

Use rapids-build-backend (#4393)
  ci/build_wheel.sh
Owners: @rapidsai/ci-codeowners

Comment out publish wheel
  ci/build_wheel.sh
Owners: @rapidsai/ci-codeowners

update python dir structure
  ci/build_wheel_nx-cugraph.sh
Owners: @rapidsai/ci-codeowners

- to _
  ci/build_wheel_nx-cugraph.sh
Owners: @rapidsai/ci-codeowners

Rename typing.py to _typing.py
  nx_cugraph/_typing.py
Owners: none

Update .github/workflows/pr.yaml
  .github/workflows/pr.yaml
Owners: @rapidsai/ci-codeowners

Update .github/workflows/pr.yaml
  .github/workflows/pr.yaml
Owners: @rapidsai/ci-codeowners

Update .github/workflows/pr.yaml
  .github/workflows/pr.yaml
Owners: @rapidsai/ci-codeowners

Update .github/workflows/pr.yaml
  .github/workflows/pr.yaml
Owners: @rapidsai/ci-codeowners

Update VERSION
  VERSION
Owners: none

Fix package-dir
  ci/build_wheel.sh
  ci/build_wheel_nx-cugraph.sh
Owners: @rapidsai/ci-codeowners

Update .github/workflows/pr.yaml
  .github/workflows/pr.yaml
Owners: @rapidsai/ci-codeowners

Update .github/workflows/pr.yaml
  .github/workflows/pr.yaml
Owners: @rapidsai/ci-codeowners

Update ci/build_python.sh
  ci/build_python.sh
Owners: @rapidsai/ci-codeowners

Update ci/build_wheel.sh
  ci/build_wheel.sh
Owners: @rapidsai/ci-codeowners

Update .github/workflows/pr.yaml
  .github/workflows/pr.yaml
Owners: @rapidsai/ci-codeowners

Remove unnecessary checks
  ci/build_wheel.sh
Owners: @rapidsai/ci-codeowners

Re-enable recently_updated check
  .github/ops-bot.yaml
Owners: @rapidsai/ci-codeowners

Update ci/build_python.sh
  ci/build_python.sh
Owners: @rapidsai/ci-codeowners

Update .github/workflows/pr.yaml
  .github/workflows/pr.yaml
Owners: @rapidsai/ci-codeowners

Change wheel dest
  ci/build_wheel.sh
Owners: @rapidsai/ci-codeowners

Update ci/build_python.sh
  ci/build_python.sh
Owners: @rapidsai/ci-codeowners

Update version to minor_version
  conda/recipes/nx-cugraph/meta.yaml
Owners: @rapidsai/packaging-codeowners

Update ci/build_python.sh
  ci/build_python.sh
Owners: @rapidsai/ci-codeowners

Update ci/build_python.sh
  ci/build_python.sh
Owners: @rapidsai/ci-codeowners

Specify
  ci/build_wheel.sh
Owners: @rapidsai/ci-codeowners

Apply suggestions from code review
  ci/build_python.sh
  ci/build_wheel.sh
Owners: @rapidsai/ci-codeowners

[CI] Adding CI Workflows: checks, changed-files, builds (#6)
  .github/ops-bot.yaml
  .github/workflows/pr.yaml
  .pre-commit-config.yaml
  ci/build_python.sh
  ci/build_wheel.sh
  ci/build_wheel_nx-cugraph.sh
  conda/recipes/nx-cugraph/build.sh
  conda/recipes/nx-cugraph/meta.yaml
  nx_cugraph/_typing.py
Owners: @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners
