Repository rapidsai/nx-cugraph, pull requests merged in 2024-11, with the labels that each got.

#13 Merge fast-forwarded files from cugraph into nx-cugraph
  README.md
  _nx_cugraph/__init__.py
  nx_cugraph/tests/test_ego_graph.py
Labels: breaking, improvement

#14 remove more cugraph-only details, other miscellaneous build/packaging changes
  .github/labeler.yml
  .github/workflows/build.yaml
  .github/workflows/test.yaml
  .gitignore
  .pre-commit-config.yaml
  build.sh
  ci/release/update-version.sh
  dependencies.yaml
  print_env.sh
Labels: improvement, non-breaking, ci

#15 add CI workflows running tests
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  .pre-commit-config.yaml
  _nx_cugraph/__init__.py
  benchmarks/nx-cugraph/pytest-based/bench_algos.py
  benchmarks/nx-cugraph/pytest-based/create_results_summary_page.py
  ci/build_python.sh
  ci/run_nx_cugraph_pytests.sh
  ci/test_python.sh
  ci/test_wheel_nx-cugraph.sh
  ci/wheel_smoke_test_nx-cugraph.py
  dependencies.yaml
  docs/nx-cugraph/source/sphinxext/github_link.py
  notebooks/cugraph_benchmarks/nx_cugraph_benchmark.ipynb
  nx_cugraph/__init__.py
  nx_cugraph/algorithms/bipartite/generators.py
  nx_cugraph/algorithms/community/louvain.py
  nx_cugraph/algorithms/core.py
  nx_cugraph/algorithms/link_analysis/hits_alg.py
  nx_cugraph/algorithms/shortest_paths/generic.py
  nx_cugraph/algorithms/shortest_paths/unweighted.py
  nx_cugraph/algorithms/traversal/breadth_first_search.py
  nx_cugraph/convert_matrix.py
  nx_cugraph/interface.py
  nx_cugraph/utils/decorators.py
  pyproject.toml
Labels: improvement, non-breaking, python, benchmarks, ci

#16 Add `nx-cugraph` Package Publishing
  .github/workflows/build.yaml
Labels: breaking, improvement, ci

#26 remove versioning workaround for nightlies
  ci/build_python.sh
  ci/test_python.sh
  nx_cugraph/algorithms/core.py
Labels: improvement, non-breaking, ci

#19 enforce wheel size limits, README formatting in CI
  ci/build_wheel_nx-cugraph.sh
  ci/validate_wheel.sh
  pyproject.toml
Labels: improvement, non-breaking, ci

#23 Remove automatic "Python" labeler
  .github/labeler.yml
Labels: bug, non-breaking, ci

#18 Faster `shortest_path`
  benchmarks/nx-cugraph/pytest-based/bench_algos.py
  nx_cugraph/algorithms/shortest_paths/unweighted.py
  nx_cugraph/algorithms/shortest_paths/weighted.py
Labels: improvement, non-breaking, benchmarks

#27 Drop support for NetworkX 3.0 and 3.1
  README.md
  _nx_cugraph/__init__.py
  benchmarks/nx-cugraph/pytest-based/bench_algos.py
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  conda/recipes/nx-cugraph/meta.yaml
  dependencies.yaml
  docs/nx-cugraph/source/index.rst
  docs/nx-cugraph/source/nx_cugraph/installation.md
  nx_cugraph/classes/graph.py
  nx_cugraph/interface.py
  nx_cugraph/tests/test_bfs.py
  nx_cugraph/tests/test_cluster.py
  nx_cugraph/tests/test_convert.py
  nx_cugraph/tests/test_ego_graph.py
  nx_cugraph/tests/test_generators.py
  nx_cugraph/tests/test_match_api.py
  pyproject.toml
  run_nx_tests.sh
Labels: conda, improvement, non-breaking, benchmarks

#25 add devcontainers
  .devcontainer/Dockerfile
  .devcontainer/README.md
  .devcontainer/cuda11.8-conda/devcontainer.json
  .devcontainer/cuda11.8-pip/devcontainer.json
  .devcontainer/cuda12.5-conda/devcontainer.json
  .devcontainer/cuda12.5-pip/devcontainer.json
  .github/workflows/pr.yaml
Labels: improvement, non-breaking

#29 Add sphinx-lint pre-commit (and some docs fixes)
  .pre-commit-config.yaml
Labels: bug, non-breaking

#34 Includes all deferred conversion costs in benchmarks
  benchmarks/nx-cugraph/pytest-based/bench_algos.py
Labels: improvement, non-breaking, benchmarks

#22 Add pre-commit hook to disallow improper comparison to `_nxver`
  .pre-commit-config.yaml
Labels: improvement, non-breaking

#24 Update and test `_nx_cugraph._check_networkx_version`
  _nx_cugraph/__init__.py
  nx_cugraph/tests/test_version.py
Labels: bug, non-breaking

#48 Small Updates to Benchmarks Directory
  .flake8
  benchmarks/pytest-based/README.md
  benchmarks/pytest-based/bench_algos.py
  benchmarks/pytest-based/create_results_summary_page.py
  benchmarks/pytest-based/get_graph_bench_dataset.py
  benchmarks/pytest-based/run-2402.sh
  benchmarks/pytest-based/run-main-benchmarks.sh
  benchmarks/pytest.ini
Labels: improvement, non-breaking, benchmarks
