Repository rapidsai/nx-cugraph, pull requests merged in 2024-12, with the labels that each got.

#53 prefer system install of UCX in devcontainers, update outdated RAPIDS references
  .devcontainer/Dockerfile
  .devcontainer/cuda11.8-conda/devcontainer.json
  .devcontainer/cuda11.8-pip/devcontainer.json
  .devcontainer/cuda12.5-conda/devcontainer.json
  .devcontainer/cuda12.5-pip/devcontainer.json
  .github/workflows/pr.yaml
  ci/release/update-version.sh
Labels: improvement, non-breaking, ci

#32 Add Bipartite Betweenness Centrality
  README.md
  _nx_cugraph/__init__.py
  benchmarks/pytest-based/bench_algos.py
  nx_cugraph/algorithms/bipartite/__init__.py
  nx_cugraph/algorithms/bipartite/centrality.py
Labels: improvement, non-breaking, benchmarks

#60 Remove sphinx pinning
  CHANGELOG.md
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  dependencies.yaml
Labels: conda, improvement, non-breaking
