Repository rapidsai/nx-cugraph, pull requests merged in 2025-05, with the labels that each got.

#128 Branch 25.06 merge 25.04 (Trying Again)
  CHANGELOG.md
Labels: improvement, non-breaking

#134 Forward-merge branch-25.06 into branch-25.08
  dependencies.yaml
  notebooks/demo/nx_cugraph_demo.ipynb
  pyproject.toml
Labels: improvement, non-breaking

#135 Build and test with CUDA 12.9.0
  .devcontainer/cuda12.9-conda/devcontainer.json
  .devcontainer/cuda12.9-pip/devcontainer.json
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  CONTRIBUTING.md
  conda/environments/all_cuda-129_arch-aarch64.yaml
  conda/environments/all_cuda-129_arch-x86_64.yaml
  dependencies.yaml
Labels: conda, improvement, non-breaking

#137 Quote head_rev in conda recipes
  conda/recipes/nx-cugraph/recipe.yaml
Labels: conda, improvement, non-breaking

#138 Finish CUDA 12.9 migration and use branch-25.06 workflows
  .devcontainer/cuda12.8-conda/devcontainer.json
  .devcontainer/cuda12.8-pip/devcontainer.json
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  CONTRIBUTING.md
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  dependencies.yaml
Labels: conda, improvement, non-breaking

#139 Forward-merge branch-25.06 into branch-25.08
  conda/recipes/nx-cugraph/recipe.yaml
  dependencies.yaml
Labels: conda, improvement, non-breaking

#118 Fix edgecase when converting to networkx w/o fallback
  nx_cugraph/convert.py
  nx_cugraph/interface.py
  nx_cugraph/tests/test_convert.py
Labels: bug, non-breaking

#145 stop uploading packages to downloads.rapids.ai
  ci/build_python.sh
  ci/build_wheel.sh
  ci/build_wheel_nx-cugraph.sh
Labels: breaking, improvement, ci

#146 Remove CUDA 11 devcontainers and update CI scripts
  .devcontainer/cuda11.8-conda/devcontainer.json
  .devcontainer/cuda11.8-pip/devcontainer.json
  README.md
  scripts/update_readme.py
Labels: improvement, non-breaking

#148 Use environment as default for RAPIDS_DATASET_ROOT_DIR, improve benchmark docs
  benchmarks/pytest-based/README.md
  benchmarks/pytest-based/get_graph_bench_dataset.py
  benchmarks/pytest-based/run-main-benchmarks.sh
Labels: improvement, non-breaking, benchmarks
