Repository rapidsai/nx-cugraph, pull requests merged in 2025-07, with the labels that each got.

#163 Temporarily skip certain tests to unblock CI
  .pre-commit-config.yaml
  ci/test_python.sh
  nx_cugraph/algorithms/centrality/betweenness.py
  nx_cugraph/drawing/layout.py
  nx_cugraph/tests/pytest.ini
  run_nx_tests.sh
Labels: bug, non-breaking, ci

#161 Use CUDA 12.9 in Conda, Devcontainers, Spark, GHA, etc.
  .devcontainer/cuda12.9-conda/devcontainer.json
  .devcontainer/cuda12.9-pip/devcontainer.json
  .github/workflows/pr.yaml
  conda/environments/all_cuda-129_arch-aarch64.yaml
  conda/environments/all_cuda-129_arch-x86_64.yaml
  dependencies.yaml
Labels: conda, improvement, non-breaking

#165 Updates benchmarks to allow for running in a CPU-only environment
  benchmarks/pytest-based/bench_algos.py
Labels: improvement, non-breaking, benchmarks

#166 Catch `CUDARuntimeError` in CuPy GPU check
  benchmarks/pytest-based/bench_algos.py
Labels: bug, non-breaking, benchmarks

#160 Address Test Failures for NetworkX 3.5
  ci/test_python.sh
  nx_cugraph/convert.py
  nx_cugraph/generators/_utils.py
  nx_cugraph/generators/classic.py
  nx_cugraph/interface.py
  nx_cugraph/tests/test_generators.py
  nx_cugraph/tests/testing_utils.py
  pyproject.toml
  run_nx_tests.sh
Labels: bug, non-breaking, ci

#169 Removes references to CUDA 11 in docs, notebooks
  README.md
  notebooks/demo/accelerating_networkx.ipynb
  notebooks/demo/nx_cugraph_demo.ipynb
  notebooks/demo/nx_cugraph_jaccard_movie_recommender.ipynb
Labels: improvement, non-breaking
