Repository rapidsai/nx-cugraph, pull requests merged in 2025-04, with the labels that each got.

#105 Forward-merge branch-25.04 into branch-25.06
  README.md
  benchmarks/pytest-based/bench_algos.py
  img/banner.png
  img/rapids_logo.png
Labels: improvement, non-breaking

#107 Update docs for BC
  _nx_cugraph/__init__.py
  nx_cugraph/algorithms/centrality/betweenness.py
Labels: improvement, non-breaking

#108 Branch 25.06 merge 25.04
  _nx_cugraph/__init__.py
  nx_cugraph/__init__.py
  nx_cugraph/algorithms/centrality/betweenness.py
  nx_cugraph/classes/graph.py
  nx_cugraph/drawing/__init__.py
  nx_cugraph/drawing/layout.py
  nx_cugraph/interface.py
  nx_cugraph/tests/test_bc.py
  nx_cugraph/tests/test_layout.py
  nx_cugraph/utils/decorators.py
  nx_cugraph/utils/misc.py
Labels: improvement, non-breaking

#102 [DOC] Add a Contributing Guide
  CONTRIBUTING.md
  README.md
Labels: doc, non-breaking

#111 Fix Typo in Contributing Guide
  CONTRIBUTING.md
Labels: doc, non-breaking

#112 [RELEASE] nx-cugraph v25.04
  .devcontainer/cuda11.8-conda/devcontainer.json
  .devcontainer/cuda11.8-pip/devcontainer.json
  .devcontainer/cuda12.8-conda/devcontainer.json
  .devcontainer/cuda12.8-pip/devcontainer.json
  .flake8
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  .gitignore
  .pre-commit-config.yaml
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  VERSION
  _nx_cugraph/__init__.py
  benchmarks/pytest-based/bench_algos.py
  benchmarks/pytest-based/create_results_summary_page.py
  build.sh
  ci/build_python.sh
  ci/build_wheel.sh
  ci/release/update-version.sh
  ci/test_python.sh
  ci/test_wheel_nx-cugraph.sh
  ci/validate_wheel.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  dependencies.yaml
  img/banner.png
  img/rapids_logo.png
  nx_cugraph/__init__.py
  nx_cugraph/algorithms/centrality/betweenness.py
  nx_cugraph/classes/digraph.py
  nx_cugraph/classes/graph.py
  nx_cugraph/classes/multidigraph.py
  nx_cugraph/drawing/__init__.py
  nx_cugraph/drawing/layout.py
  nx_cugraph/interface.py
  nx_cugraph/tests/test_bc.py
  nx_cugraph/tests/test_classes.py
  nx_cugraph/tests/test_layout.py
  nx_cugraph/utils/decorators.py
  nx_cugraph/utils/misc.py
  pyproject.toml
  scripts/update_readme.py
Labels: conda, benchmarks, ci

#119 Add ARM conda environments
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  dependencies.yaml
Labels: conda, improvement, non-breaking

#104 Moving wheel builds to specified location and uploading build artifacts to Github
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  ci/build_wheel.sh
  ci/build_wheel_nx-cugraph.sh
Labels: improvement, non-breaking, ci

#121 feat(rattler): port conda build recipe to rattler build
  ci/build_python.sh
  conda/recipes/nx-cugraph/build.sh
  conda/recipes/nx-cugraph/meta.yaml
  conda/recipes/nx-cugraph/recipe.yaml
  pyproject.toml
Labels: conda, improvement, non-breaking, ci

#124 Fix update-version.sh
  ci/release/update-version.sh
Labels: bug, non-breaking
