Repository rapidsai/nx-cugraph, pull requests merged in 2025-03, with the labels that each got.

#91 Fix `(Multi)DiGraph.__networkx_cache__` initialization
  nx_cugraph/classes/digraph.py
  nx_cugraph/classes/multidigraph.py
  nx_cugraph/tests/test_classes.py
  scripts/update_readme.py
Labels: bug, non-breaking

#97 Add Benchmarks for ForceAtlas2
  benchmarks/pytest-based/bench_algos.py
Labels: improvement, non-breaking, benchmarks

#100 Update README
  README.md
  img/banner.png
  img/rapids_logo.png
Labels: doc, non-breaking
