Repository rapidsai/nx-cugraph, pull requests merged in 2025-02, with the labels that each got.

#75 include all pyproject dependencies in 'requirements' output
  dependencies.yaml
Labels: improvement, non-breaking

#71 Adds notebook for Jaccard Similarity
  notebooks/demo/nx_cugraph_jaccard_movie_recommender.ipynb
Labels: doc, non-breaking

#56 Add `can_run` that checks `create_using` argument
  nx_cugraph/algorithms/bipartite/generators.py
  nx_cugraph/convert.py
  nx_cugraph/convert_matrix.py
  nx_cugraph/generators/classic.py
  nx_cugraph/generators/small.py
  nx_cugraph/tests/test_generators.py
  nx_cugraph/tests/test_match_api.py
  nx_cugraph/utils/decorators.py
Labels: improvement, non-breaking

#59 Update BC to use random nodes to match nx given `k`
  nx_cugraph/algorithms/centrality/betweenness.py
  nx_cugraph/tests/test_bc.py
Labels: bug, non-breaking

#80 Use `rapids-pip-retry` in CI jobs that might need retries
  ci/build_wheel.sh
  ci/test_wheel_nx-cugraph.sh
Labels: improvement, non-breaking, ci

#35 Add `lowest_common_ancestor` algorithm
  README.md
  _nx_cugraph/__init__.py
  benchmarks/pytest-based/bench_algos.py
  nx_cugraph/algorithms/__init__.py
  nx_cugraph/algorithms/lowest_common_ancestors.py
Labels: improvement, non-breaking, benchmarks

#82 Add build_type input field for `test.yaml`
  .github/workflows/test.yaml
Labels: improvement, non-breaking

#85 Use shared-workflows branch-25.04
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: improvement, non-breaking

#84 Add `shellcheck` to pre-commit and fix warnings
  .pre-commit-config.yaml
  ci/build_wheel.sh
  ci/release/update-version.sh
  ci/test_python.sh
  ci/test_wheel_nx-cugraph.sh
  ci/validate_wheel.sh
Labels: improvement, non-breaking, ci

#88 Update pre-commit hooks
  .pre-commit-config.yaml
  benchmarks/pytest-based/create_results_summary_page.py
  pyproject.toml
Labels: improvement, non-breaking, benchmarks

#90 Create Conda CI test env in one step
  ci/release/update-version.sh
  ci/test_python.sh
  dependencies.yaml
Labels: improvement, non-breaking, ci

#93 remove docs dependencies
  .flake8
  .github/workflows/pr.yaml
  .gitignore
  .pre-commit-config.yaml
  build.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  dependencies.yaml
Labels: conda, improvement, non-breaking

#94 add cugraph-notebook-codeowners to CODEOWNERS
  .github/CODEOWNERS
Labels: improvement, non-breaking

#95 Use conda-build instead of conda-mambabuild
  ci/build_python.sh
Labels: improvement, non-breaking, ci
