Repository rapidsai/nx-cugraph, pull requests merged in 2025-01, with the labels that each got.

#61 Add `amazon0302` Dataset to nx-cugraph Bench Algos
  benchmarks/pytest-based/bench_algos.py
Labels: improvement, non-breaking, benchmarks

#65 update pip devcontainers to UCX 1.18, other small packaging changes
  .devcontainer/cuda11.8-pip/devcontainer.json
  .devcontainer/cuda12.5-pip/devcontainer.json
  .pre-commit-config.yaml
Labels: improvement, non-breaking

#66 Build and test with CUDA 12.8.0
  .devcontainer/cuda12.8-conda/devcontainer.json
  .devcontainer/cuda12.8-pip/devcontainer.json
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  dependencies.yaml
Labels: conda, improvement, non-breaking

#67 Add benchmark for `leiden_communities`
  benchmarks/pytest-based/bench_algos.py
  benchmarks/pytest-based/run-main-benchmarks.sh
Labels: improvement, non-breaking, benchmarks

#62 Adds support for `jaccard_coefficient`
  README.md
  _nx_cugraph/__init__.py
  benchmarks/pytest-based/bench_algos.py
  nx_cugraph/algorithms/__init__.py
  nx_cugraph/algorithms/link_prediction.py
  nx_cugraph/classes/graph.py
  nx_cugraph/tests/test_link_prediction.py
Labels: improvement, non-breaking, benchmarks

#74 Revert CUDA 12.8 shared workflow branch changes
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: improvement, non-breaking

#76 Forward-merge branch-25.02 to branch-25.04
  .devcontainer/cuda12.8-conda/devcontainer.json
  .devcontainer/cuda12.8-pip/devcontainer.json
  .github/workflows/pr.yaml
  README.md
  _nx_cugraph/__init__.py
  benchmarks/pytest-based/bench_algos.py
  benchmarks/pytest-based/run-main-benchmarks.sh
  conda/environments/all_cuda-128_arch-x86_64.yaml
  dependencies.yaml
  nx_cugraph/algorithms/__init__.py
  nx_cugraph/algorithms/link_prediction.py
  nx_cugraph/classes/graph.py
  nx_cugraph/tests/test_link_prediction.py
Labels: conda, improvement, non-breaking, benchmarks

#72 Migrate to NVKS for amd64 CI runners
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: improvement, non-breaking
